body {
    background-color: #eee;
    font-family: sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
}

.spacer1 { flex-grow: 1; }
.spacer2 { flex-grow: 2; }
.spacer3 { flex-grow: 3; }
.spacer5 { flex-grow: 5; }
.spacer8 { flex-grow: 8; }
.spacer13 { flex-grow: 13; }

.flexrow {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.flexcolumn {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flexcolumn.closed > *,
.flexrow .closed > * {
    display: none;
}

.flexcolumn.closed > label,
.flexcolumn.closed > .button.collapse,
.flexrow.closed > label,
.flexrow.closed > .button.collapse
{
    display: inherit;
}

.flexcolumn > .button.collapse,
.flexrow > .button.collapse {
    position: absolute;
    top: -5px;
    right: 0px;
}
.flexcolumn > .button.collapse::after,
.flexrow > .button.collapse::after {
    content: "arrow_drop_up"
}
.flexcolumn.closed > .button.collapse::after,
.flexrow .closed > .button.collapse::after {
    content: "arrow_drop_down"
}


line.chr {
    stroke: black;
}

.chrlabel {
    text-anchor : middle;
}

#featureDetails {
    font-size: 12px;
}
#featureDetails > .flexrow > label {
    width: 32%;
}

#zoomView .brush rect {
   height: 10px;
}
.brush > .extent {
    fill-opacity : 0.3;
    stroke : blue;
    fill: blue;
}
.brush:hover > rect.background {
    visibility: visible !important;
    fill: blue;
    fill-opacity : 0.15;
}

.button {
    cursor: pointer;
}
.button.more {
    font-weight: bold;
    font-size: bigger;
}

.pagebox {
    background-color: #ccc;
    border: thin solid #777;
    padding: 6px;
    margin: 1px;
}

.facet * {
    margin: 2px;
}

.facet select option {
    margin: 0px;
}

#header {
    justify-content: center;
}

#mgv {
    align-items: flex-start;
    justify-content: space-between;
}
#footer {
    background-color: inherit;
    border: none;
}

#genomeView {
}
#genomeView > div {
    margin-top: 18px;
    background-color: #b9b9b9;
    padding: 12px 8px;
}
#genomeView > svg {
    height: 250px;
    transition: height 0.5s;
}
#genomeView svg line.feature {
    stroke: black;
}
#genomeView .sblock {
    fill: #bbb;
    stroke: none;
}
#genomeView .sblock.inversion {
}
#genomeView .sblock.translocation {
    fill: blue;
    stroke: blue;
}
#genomeView svg .title {
}
#genomeView svg .subtitle {
}

#zoomView {
    display: inline-block;
}
.zoomStrip.highlighted > text {
}
.zoomStrip line {
    stroke: #aaa;
    fill: none;
}
.zoomBlock > rect.block {
    stroke: none;
    fill: #fff;
    fill-opacity: 0.3;
}
.zoomBlock.minus > rect.block {
    fill: #000;
}
.zoomBlock text {
   font-size: 12px;
}
rect.zoomStripShadow {
   fill: none;
}
rect.zoomStripShadow.highlighted {
   fill: white;
}


rect.feature {
    fill : #aaa;
    stroke: none;
}
rect.feature.highlight {
}

.colorKey {
    align-items: flex-start !important;
    padding: 6px;
    font-family: sans-serif;
    font-size: 12px;
}

.swatch {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.swatch i.material-icons {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.swatch.checked i.material-icons::before {
    content: "check";
}

label {
    font-weight: bold;
    font-size: 16px;
}

#featureDetails > table {
    font-size: 10px;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}
#featureDetails > table th {
    text-align: left;
}
#featureDetails > table tr.highlight {
    background-color: #eee;
}
#featureDetails div label {
    font-size: 12px;
}
#featureDetails div span {
    white-space: nowrap;
}
#featureDetails.closed {
    flex-direction: row;
}
#featureDetails.closed > table {
    display: inline-table;
    width: 90%;
}

.leftcolumn {
    min-width: 200px;
}
.rightcolumn {
    min-width: 200px;
}
#zoomView > :first-child {
    justify-content: space-between;
}
#zoomView > :first-child * {
    margin-left: 6px;
}
#zoomView g.axis path {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}
#zoomView g.axis text {
   font-size: 10px;
}

.fiducials .fiducial {
   stroke : none;
   fill: blue;
   fill-opacity: 0.3;
}

.fiducials .current .fiducial {
   fill: red;
}

.fiducials .featLabel {
   font-size: 10px;
   text-anchor: middle;
}

.fiducials .current .featLabel {
}

.fiducials.hidden .fiducial,
.fiducials.hidden .featLabel {
   display: none;
}

.rotating {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-359deg);
    }
}

