body {
    background-color: #eee;
}

line.chr {
    stroke: black;
}

.chrlabel {
    text-anchor : middle;
}

.brush .extent {
    fill-opacity : 0.3;
    stroke : none;
    shape-rendering: crispEdges;
}

#genomeView {
    display: inline-block;
    background-color: #ccc;
    border: thin solid black;
}
#zoomView {
    display: inline-block;
    background-color: #ccc;
    border: thin solid black;
}
.zoomRegion line {
    stroke: #aaa;
    fill: none;
}
rect.feature {
    fill : #aaa;
    stroke: none;
}
