body {
    background-color: #eee;
    font-family: sans-serif;
}

line.chr {
    stroke: black;
}

.chrlabel {
    text-anchor : middle;
}

.featureDetails {
    font-size: 12px;
    align-self: flex-start;
    position: relative;
    top: 35px;
    width: 225px;
}

#zoomView .brush rect {
   height: 10px;
}
.brush .extent {
    fill-opacity : 0.3;
    stroke : none;
    shape-rendering: crispEdges;
}
.button {
    cursor: pointer;
}

#genomeView {
    background-color: #ccc;
    border: thin solid black;
    align-items: flex-start;
}
#genomeView > div {
    margin-top: 18px;
}
#genomeView > svg {
    height: 250px;
    transition: height 0.5s;
}
#genomeView svg line.feature {
    stroke: black;
}

#zoomView {
    display: inline-block;
    background-color: #ccc;
    border: thin solid black;
}
.zoomStrip line {
    stroke: #aaa;
    fill: none;
}
.zoomBlock > rect.block {
    stroke: none;
    fill: #fff;
    fill-opacity: 0.3;
}
.zoomBlock.minus > rect.block {
    fill: #000;
}
.zoomBlock text {
   font-size: 12px;
}


rect.feature {
    fill : #aaa;
    stroke: none;
}
rect.feature.highlight {
}

.colorKey {
    align-items: flex-start !important;
    padding: 6px;
    font-family: sans-serif;
    font-size: 12px;
}

.swatch {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.swatch i.material-icons {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.swatch.checked i.material-icons::before {
    content: "check";
}

.spacer1 { flex-grow: 1; }
.spacer2 { flex-grow: 2; }
.spacer3 { flex-grow: 3; }
.spacer5 { flex-grow: 5; }
.spacer8 { flex-grow: 8; }
.spacer13 { flex-grow: 13; }

.flexrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.flexrow > * {
    margin: 2px;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flexcolumn > * {
    margin: 2px;
}

label {
    font-weight: bold;
    font-size: 16px;
}

.featureDetails div label {
    font-size: 12px;
}

label::after {
}

.leftcolumn {
    width: 200px;
}
.rightcolumn {
    min-width: 200px;
}
.leftcolumn > div,
.rightcolumn > div {
    background-color: #ccc;
    border: thin solid black;
    padding: 6px;
}

#zoomView g.axis path {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}
#zoomView g.axis text {
   font-size: 10px;
}

.fiducials .fiducial {
   stroke : none;
   fill: blue;
   fill-opacity: 0.3;
}

.fiducials .current .fiducial {
   fill: red;
}

.fiducials .featLabel {
   font-size: 10px;
   text-anchor: middle;
}

.fiducials .current .featLabel {
}

.fiducials.hidden .fiducial,
.fiducials.hidden .featLabel {
   display: none;
}

.footer {
   position: static;
   bottom: 0px;
}
