/* -----------------------------------------
 * General
 * -----------------------------------------
 */
body {
    background-color: #eee;
    font-family: sans-serif;
    font-size: 12px;
}

::placeholder {
    color: #aaa;
    font-style: italic;
}

a {
    text-decoration: none;
}

.material-icons.warning {
    color: yellow;
    background-color: #ccc;
    font-size: 20px;
    border-radius: 4px;
}

[name="brush"] > .extent,
.brush > .extent {
    fill-opacity : 0.3;
    stroke : blue;
    fill: blue;
}
[name="brush"]:hover > rect.background,
.brush:hover > rect.background {
    visibility: visible !important;
    fill: blue;
    fill-opacity : 0.15;
}

.button {
    cursor: pointer;
}
.button.more {
    font-weight: bold;
    font-size: bigger;
}
.button:hover {
    color: white;
    background-color: rgb(31, 119, 180);
    border-radius: 4px;
}
.button[disabled] {
    cursor: default;
    color: #ccc;
}
.button[disabled]:hover {
    color: #ccc;
    background-color: white !important;
}

.facet select option {
    margin: 0px;
}

label {
    font-weight: bold;
    font-size: 16px;
}

label > i.material-icons {
    font-size: smaller;
    margin: 2px;
}

.rotating {
    transform-origin: 50% 50%;
    -webkit-animation: rotation 2s infinite linear;
}

.rotateOnce {
    transform-origin: 50% 50%;
    -webkit-animation: rotation 2s linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-359deg);
    }
}


/* -----------------------------------------
 * flexrow and flexcolumn
 * -----------------------------------------
 */
.flexrow {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.flexcolumn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.spacer1 { flex-grow: 1; }
.spacer2 { flex-grow: 2; }
.spacer3 { flex-grow: 3; }
.spacer5 { flex-grow: 5; }
.spacer8 { flex-grow: 8; }
.spacer13 { flex-grow: 13; }


/* -----------------------------------------
 * closable
 * -----------------------------------------
 */

/* open/close the button */
.closable > .button.close {
    position: absolute;
    top: -1px;
    right: -1px;
    border-radius: 10px;
    font-size: 18px;
}
/* icon to show in the open (default) state */
.closable > .button.close::after {
    content: "arrow_drop_up"
}
/* icon to show in the closed state */
.closable.closed > .button.close::after {
    content: "arrow_drop_down"
}
/* in closed state, immediate children are not displayed */
.closable.closed > * {
    display: none;
}
/* ...except for for the first <label> and the open/close button */
.closable.closed > label:first-of-type,
.closable.closed > .button.close {
    display: inherit;
}

/* -----------------------------------------
 * draggable
 * -----------------------------------------
 */

/* drag handle */
.content-draggable > * > .button.draghandle {
    position: absolute;
    top: -1px;
    right: -1px;
    border-radius: 10px;
    font-size: 18px;
    cursor: grab;
    cursor: -webkit-grab;
}
.content-draggable > * {
    position: relative;
}
.content-draggable > .dragging {
    z-index: 100;
}
.content-draggable > .dragging > .button.draghandle {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.content-draggable > * > .button.draghandle::after {
    content: "drag_indicator"
}
.content-draggable > .closable.closed > .button.draghandle {
    display: inherit;
}

.content-draggable > .closable > .button.close {
    right: 20px;
}

/* -----------------------------------------
 * pagebox
 * -----------------------------------------
 */
.pagebox {
    background-color: #e1e1e1;
    padding: 6px;
    margin: 3px;
}
.pagebox:hover {
    outline: thin solid black;
}
.pagebox * {
    margin: 2px;
}
.pagebox > i.busy::before {
    content: "settings";
}
.pagebox > i.busy {
    display: none;
    position: absolute;
    left: 40%;
    top: 40%;
}
.pagebox.busy {
    opacity: 0.6;
}
.pagebox.busy > i.busy {
    display: inherit;
    opacity: 1;
}
.pagebox .button.help {
    position: absolute;
    top: -0.5px;
    right: 40px;
    font-size: 16px;
    border-radius: 8px;
}

.pagebox .button.help::after {
    content: "help_outline";
}
.pagebox.closable.closed .button.help {
    display: inherit;
}


/* -----------------------------------------
 * Status message
 * -----------------------------------------
 */
#statusMessage {
    background-color: #ddd;
    position: fixed;
    z-index: 100;
    padding: 4px 8px;
    border: thin solid black;
    border-radius: 2px;
    max-width: 250px;
    display: none;
}
#statusMessage.showing {
    display: flex;
}
#statusMessage .button.close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 14px;
}

/* -----------------------------------------
 * Context menu
 * -----------------------------------------
 */
[name="cxtMenu"] {
    position: absolute;
    border: thin solid #8c8c8c;
    border-radius: 4px;
    padding: 4px;
    background-color: #eee;
    display: none;
    z-index: 100;
    white-space: nowrap;
}
[name="cxtMenu"].showing {
    display: inherit;
}
.menuItem label {
    font-weight: normal;
}
.menuItem:hover {
    color: white;
    background-color: #2076b4;
}

/* -----------------------------------------
 * Feature details
 * -----------------------------------------
 */
#featureDetails {
    font-size: 12px;
}
#featureDetails > .flexrow > label {
    width: 32%;
}
#featureDetails table > tr:first-child {
    font-weight: bold;
}
#featureDetails table td {
    overflow: hidden;
}

/* -----------------------------------------
 * mylists
 * -----------------------------------------
 */
#mylists [name="lists"] {
    max-height: 200px;
    overflow: auto;
}

#mylists [name="message"] {
    display: none;
}
#mylists [name="message"].showing {
    display: block;
}

#mylists .listInfo {
    margin: 0px;
    flex: 0 0;
    border: 3px solid #ccc;
    border-radius: 4px;
}
#mylists .listInfo.current {
    border-color: rgb(31, 119, 180);
}
#mylists [name="lists"] {
    border-top: thin solid black;
}
#mylists .listInfo:hover {
    background-color: #ddd;
    cursor: pointer;
}
#mylists .listInfo [name="name"] {
    width: 40%;
}
#mylists .listInfo [name="date"] {
    font-size: 9px;
    width: 30%;
}
#mylists .listInfo [name="size"] {
    width: 20%;
    text-align: right;
    margin-right: 8px;
}
#mylists .listInfo [name="edit"] {
    font-size: 14px;
}
#mylists .listInfo [name="delete"] {
    width: 10%;
    margin-left: 10px;
    font-size: 14px;
}
#mylists .listInfo [name="delete"]:hover {
    color: red;
    font-weight: bold;
}
#mylists .button[name="combine"] {
    font-size: 24px;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    text-align: center;
}
#mylists .button[name="purge"] {
}
#mylists .button[name="purge"]:hover {
    color: red;
}
#mylists [name="tools"] {
    border-top: thin solid #555;
    align-items: flex-start;
}


/* -----------------------------------------
 * List editor.
 * -----------------------------------------
 */
#listeditor {
}
#listeditor [name="editform"] {
    margin-top: 4px;
}
#listeditor [name="editform"] label {
    font-size: 12px !important;
}
#listeditor [name="editform"] div[name="modified"] * {
    font-size: 10px !important;
}
#listeditor [name="editform"] input[name="modified"] {
    border: none;
    width: 100%;
    background-color: transparent;
    font-size: smaller;
}
#listeditor [name="editform"] .button:hover {
    background-color: #2076b4;
    border-radius: 4px;
}
#listeditor [name="editform"] textarea {
    max-width: 190px;
    height: 50px;
    flex-grow: 1;
}
#listeditor [name="formulaeditor"] {
    margin: 0px;
    display: none;
}
#listeditor.editingformula [name="formulaeditor"] {
    display: block;
}
#listeditor [name="formulaeditor"] textarea {
    height: 40px;
}
#listeditor [name="formulaeditor"] * {
    margin-top: 0px;
    margin-bottom: 0px;
}
#listeditor [name="listactions"] {
    margin-top: 18px;
}
#listeditor [name="listactions"] .button {
    border: none;
    background-color:white;
    border-radius: 4px;
}
#listeditor [name="listactions"] .button:hover {
    border: none;
}
#listeditor [name="idsection"] .button {
    font-size: 14px;
}
#listeditor [name="idsection"] [name="ids"]:disabled {
    background-color: transparent;
}
#listeditor [name="idsection"] > .flexrow {
}
#listeditor [name="formulaeditor"] [name="formula"] {
    outline-style: none;
    outline-width: 2px;
}
#listeditor [name="formulaeditor"] [name="formula"].valid {
    outline-color: green;
    outline-style: solid;
}
#listeditor [name="formulaeditor"] [name="formula"].invalid {
    outline-color: red;
    outline-style: solid;
}
#listeditor [name="formulaeditor"] .button {
    font-size: 14px;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 8px;
}
#listeditor [name="formulaeditor"] .button.listop[name="()"] {
    font-size: 12px;
}
#listeditor [name="formulaeditor"] .button.listop:not([name="()"]) {
    font-size: 16px;
}
/* -----------------------------------------
 * -----------------------------------------
 */
#header {
    padding: 3px 12px;
    background-color: #557f9e;
    color: #eee;
}
#header .flexrow label {
    position: relative;
    top: 4px;
}
#header .button:hover {
    color :rgb(31, 119, 180);
    background-color: white;
}
#header > label {
    text-align: center;
}
#header [name="mgilogo"] {
    height: 40px;
}
#header a:link,
#header a:visited {
    color: white;
}

#mgv {
    align-items: flex-start;
}

#footer {
    background-color: #557f9e;
    color: #eee;
    border: none;
}
#footer a:link,
#footer a:visited {
    color: white;
}
#footer a:hover {
    color: gold;
}

[name="leftcolumn"] {
    transition: min-width 0.25s, opacity 0.25s;
    min-width: 220px;
    opacity: 1;
}
[name="leftcolumn"].closed {
    min-width: 0px;
    width: 0px;
    opacity: 0;
    display: block;
}

[name="leftcolumn"] > .button {
    display: none;
}
[name="leftcolumn"].closed > .button {
    display: none;
}


/* -----------------------------------------
 * Genome View
 * -----------------------------------------
 */
#genomeView > label {
    align-items: baseline;
}
#genomeView > label .subtitle {
    font-weight: normal;
    font-size: smaller;
}

#genomeView svg {
    transform-origin: 100% 0;
}
#genomeView [name="chromosomes"] {
    transition: transform 0.3s;
}
#genomeView.closed [name="svgcontainer"] {
    display: block;
    height: 60px;
    overflow: hidden;
}
#genomeView [name="svgcontainer"] [name="scrollbuttons"] {
    display: none;
    position: absolute;
}
#genomeView.closed [name="svgcontainer"] [name="scrollbuttons"] {
    display: flex;
}

#genomeView .chromosome [name="backbone"] {
    stroke: #bbb;
    stroke-width: 1px;
}
#genomeView .chromosome [name="label"] {
    text-anchor : middle;
}
#genomeView.closed .chromosome [name="label"] {
    transform: rotateZ(90deg) translate(-8px,6px);
}
#genomeView .chromosome [name="ticks"] line.feature {
    stroke: black;
}
#genomeView .chromosome [name="ticks"] circle.feature {
    fill: red;
    fill-opacity: 0.3;
    cursor: pointer;
}
#genomeView .sblock {
    fill: #000;
    fill-opacity: 0.3;
    stroke-opacity: 0.3;
}
#genomeView .sblock.inversion {
    fill: red;
    stroke: red;
}
#genomeView .sblock.translocation {
    fill: blue;
    stroke: blue;
}
#genomeView .sblock.inversion.translocation {
    fill: yellow;
    stroke: yellow;
}
#genomeView svg .title {
}
#genomeView svg .subtitle {
}

/* -----------------------------------------
 * Zoom View
 * -----------------------------------------
 */
#zoomView {
    display: inline-block;
}
#zoomView.closed [name="zoomcontrols"] {
    display: flex; /* override closed style */
}

#zoomView.closed [name="svgcontainer"] {
    display: flex; /* override closed style */
}

#zoomView svg .brush rect {
   height: 10px;
}
#zoomView svg text.blockLabel {
    text-anchor: middle;
}
#zoomView svg .zoomStrip.highlighted > text {
}
#zoomView svg .zoomStrip line {
    stroke: #aaa;
    fill: none;
}
#zoomView svg .zoomStrip .sBlock [name="layer0"] rect.block {
    stroke: none;
    fill: #fff;
    fill-opacity: 0.3;
}
#zoomView svg .sBlock [name="layer0"] rect.block.confused {
}
#zoomView svg .sBlock [name="layer0"] rect.block.minus {
    fill: red;
}
#zoomView svg .sBlock [name="layer0"] rect.block.translocation {
    fill: orange;
}
#zoomView svg .sBlock [name="layer0"] rect.block.minus.translocation {
    fill: yellow;
}
#zoomView svg .sBlock [name="layer0"] text.blockLabel.minus.translocation {
    font-style: italic;
}
#zoomView svg .sBlock text {
   font-size: 12px;
}
#zoomView svg .zoomStrip rect[name="zoomStripHandle"] {
  fill: #ccc;
}
#zoomView svg .zoomStrip.reference g.sBlock g[name="layer0"] rect.block {
  fill: none;
}
#zoomView svg .zoomStrip.reference rect[name="zoomStripHandle"] {
    fill: blue;
}
#zoomView svg .zoomStrip rect[name="zoomStripHandle"]:hover {
   cursor: grab;
   cursor: -webkit-grab;
}
#zoomView svg .zoomStrip.dragging rect[name="zoomStripHandle"]:hover {
   cursor: grabbing;
   cursor: -webkit-grabbing;
}
#zoomView svg .zoomStrip:not(.dragging) {
    transition: transform 0.3s;
}

/* R/N toggle - for showing/changing drawing mode between reference order and comparison (native) order */
#zoomView div[name="zoomDmode"] label.button {
    padding: 3px;
    border: thin solid;
    border-radius: 4px;
}
#zoomView.comparison div[name="zoomDmode"] label[name="R"] {
    display: none;
}
#zoomView.reference div[name="zoomDmode"] label[name="C"] {
    display: none;
}


#zoomView svg rect.feature {
    fill : #aaa;
    stroke: none;
}
#zoomView svg rect.feature.highlight {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #34ff9a;
}
#zoomView svg rect.feature.highlight.current {
    outline-color: #ffff00;
}
#zoomView svg rect.feature.highlight.extra {
    outline-width: 6px;
    animation: blinker 1s linear infinite;
}
@keyframes blinker {  
    50% { outline-width: 0px; }
}

#zoomView [name="zoomcontrols"] {
    justify-content: space-around;
    flex-wrap: wrap;
}
#zoomView > [name="zoomcontrols"] * {
    margin-left: 6px;
}
#zoomView g.axis path {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}
#zoomView g.axis text {
   font-size: 10px;
}

#zoomView .fiducials .fiducial {
   stroke : blue;
   fill: blue;
   fill-opacity: 0.3;
   stroke-opacity: 0.3;
}

#zoomView .fiducials .current .fiducial {
   stroke : red;
   fill: red;
}

#zoomView .fiducials .featLabel {
   font-size: 10px;
   text-anchor: middle;
}

#zoomView .fiducials .featLabelBox {
    stroke: none;
    fill: white;
    display: none;
}
#zoomView .fiducials .current .featLabelBox {
    display: inherit;
}

#zoomView .fiducials .current .featLabel {
}

#zoomView .fiducials.hidden .fiducial,
#zoomView .fiducials.hidden .featLabel {
   display: none;
}
/* -----------------------------------------
 * Facet: Feature Type
 * -----------------------------------------
 */
.colorKey {
    align-items: flex-start !important;
    padding: 6px;
    font-family: sans-serif;
    font-size: 12px;
}

.swatch {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.swatch i.material-icons {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.swatch.checked i.material-icons::before {
    content: "check";
}

/* -----------------------------------------
 * Feature Details section
 * -----------------------------------------
 */
#featureDetails > table {
    font-size: 10px;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}
#featureDetails > table th {
    text-align: left;
}
#featureDetails > table tr.highlight {
    background-color: #eee;
}
#featureDetails div label {
    font-size: 12px;
}
#featureDetails div span {
    white-space: nowrap;
}
#featureDetails.closed {
    flex-direction: row;
}
#featureDetails.closed > table {
    display: inline-table;
    width: 90%;
}


